/* navbar section */
.view {
    background: url("https://pbs.twimg.com/media/DvH7OcDUwAE3OCd.jpg:large")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: rgba(92, 74, 114, 0.92);
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgba(92, 74, 114, 0.92);

    }
}

html,
body,
.view {
  height: 100%;
}
/* end of navbar */


/* footer section */

.darken-3, .cyan, footer {
    background-color: rgb(92, 74, 114) !important;
}
/* end of footer */
